<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Class="pdm-search-result">
    <FluentStack Orientation="Orientation.Vertical" Gap="0" Class="pdm-search-result__body">
        <span class="pdm-search-result__name">@Item.Name</span>
        <span class="pdm-search-result__path">@FormatPath(Item.Path)</span>
    </FluentStack>
    <FluentSpacer />
    <FluentButton Appearance="Appearance.Stealth" 
                  IconStart="@(new Icons.Regular.Size16.Add())" 
                  OnClick="@(() => OnAddChild.InvokeAsync(Item.Id))" 
                  Title="Add Child" />
</FluentStack>

@code {
    [Parameter, EditorRequired] public required CategoryFlatDto Item { get; set; }
    [Parameter] public EventCallback<Guid> OnAddChild { get; set; }

    private static string FormatPath(string path) => string.Join(" › ", path.Split('.').Select(s => s.Replace('_', ' ')));
}